# Level 2

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv(r"C:\Users\Manikanta\Downloads\Dataset .csv")

In [3]:
df

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,6317637,Le Petit Souffle,162,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027535,14.565443,"French, Japanese, Desserts",...,Botswana Pula(P),Yes,No,No,No,3,4.8,Dark Green,Excellent,314
1,6304287,Izakaya Kikufuji,162,Makati City,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...","Little Tokyo, Legaspi Village, Makati City","Little Tokyo, Legaspi Village, Makati City, Ma...",121.014101,14.553708,Japanese,...,Botswana Pula(P),Yes,No,No,No,3,4.5,Dark Green,Excellent,591
2,6300002,Heat - Edsa Shangri-La,162,Mandaluyong City,"Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...","Edsa Shangri-La, Ortigas, Mandaluyong City","Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...",121.056831,14.581404,"Seafood, Asian, Filipino, Indian",...,Botswana Pula(P),Yes,No,No,No,4,4.4,Green,Very Good,270
3,6318506,Ooma,162,Mandaluyong City,"Third Floor, Mega Fashion Hall, SM Megamall, O...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.056475,14.585318,"Japanese, Sushi",...,Botswana Pula(P),No,No,No,No,4,4.9,Dark Green,Excellent,365
4,6314302,Sambo Kojin,162,Mandaluyong City,"Third Floor, Mega Atrium, SM Megamall, Ortigas...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.057508,14.584450,"Japanese, Korean",...,Botswana Pula(P),Yes,No,No,No,4,4.8,Dark Green,Excellent,229
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9546,5915730,Naml۱ Gurme,208,��stanbul,"Kemanke�� Karamustafa Pa��a Mahallesi, R۱ht۱m ...",Karak�_y,"Karak�_y, ��stanbul",28.977392,41.022793,Turkish,...,Turkish Lira(TL),No,No,No,No,3,4.1,Green,Very Good,788
9547,5908749,Ceviz A��ac۱,208,��stanbul,"Ko��uyolu Mahallesi, Muhittin ��st�_nda�� Cadd...",Ko��uyolu,"Ko��uyolu, ��stanbul",29.041297,41.009847,"World Cuisine, Patisserie, Cafe",...,Turkish Lira(TL),No,No,No,No,3,4.2,Green,Very Good,1034
9548,5915807,Huqqa,208,��stanbul,"Kuru�_e��me Mahallesi, Muallim Naci Caddesi, N...",Kuru�_e��me,"Kuru�_e��me, ��stanbul",29.034640,41.055817,"Italian, World Cuisine",...,Turkish Lira(TL),No,No,No,No,4,3.7,Yellow,Good,661
9549,5916112,A���k Kahve,208,��stanbul,"Kuru�_e��me Mahallesi, Muallim Naci Caddesi, N...",Kuru�_e��me,"Kuru�_e��me, ��stanbul",29.036019,41.057979,Restaurant Cafe,...,Turkish Lira(TL),No,No,No,No,4,4.0,Green,Very Good,901
9550,5927402,Walter's Coffee Roastery,208,��stanbul,"Cafea��a Mahallesi, Bademalt۱ Sokak, No 21/B, ...",Moda,"Moda, ��stanbul",29.026016,40.984776,Cafe,...,Turkish Lira(TL),No,No,No,No,2,4.0,Green,Very Good,591

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9542 entries, 0 to 9550
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Restaurant ID         9542 non-null   int64
 1   Restaurant Name       9542 non-null   object
 2   Country Code          9542 non-null   int64
 3   City                  9542 non-null   object
 4   Address               9542 non-null   object
 5   Locality              9542 non-null   object
 6   Locality Verbose      9542 non-null   object
 7   Longitude             9542 non-null   float64
 8   Latitude              9542 non-null   float64
 9   Cuisines              9542 non-null   object
 10  Average Cost for two  9542 non-null   int64
 11  Currency              9542 non-null   object
 12  Has Table booking     9542 non-null   object
 13  Has Online delivery   9542 non-null   object
 14  Is delivering now     9542 non-null   object
 15  Switch to order menu  9542 non-null   object
 16  Price range           9542 non-null   int64
 17  Aggregate rating      9542 non-null   float64
 18  Rating color          9542 non-null   object
 19  Rating text           9542 non-null   object
 20  Votes                 9542 non-null   int64
dtypes: float64(3), int64(5), object(13)
memory usage: 1.6+ MB

In [15]:
# Display the number of rows and columns
df.shape

(9542, 21)

In [16]:
#Check for missing values in each column
missing_values = df.isnull().sum()
missing_values

Restaurant ID           0
Restaurant Name         0
Country Code            0
City                    0
Address                 0
Locality                0
Locality Verbose        0
Longitude               0
Latitude                0
Cuisines                0
Average Cost for two    0
Currency                0
Has Table booking       0
Has Online delivery     0
Is delivering now       0
Switch to order menu    0
Price range             0
Aggregate rating        0
Rating color            0
Rating text             0
Votes                   0
dtype: int64

In [17]:
#Drop rows with missing values
df.dropna(inplace=True)

In [18]:
#After handling missing values
df.shape

(9542, 21)

## Task 1: Table Booking and Online Delivery

In [19]:
# Determine the percentage of restaurants that offer table booking
table_booking_percentage = (df['Has Table booking'].value_counts(normalize=True) * 100).round(2)

In [21]:
table_booking_percentage

No     87.86
Yes    12.14
Name: Has Table booking, dtype: float64

In [20]:
# Determine the percentage of restaurants that offer online delivery
online_delivery_percentage = (df['Has Online delivery'].value_counts(normalize=True) * 100).round(2)

In [22]:
online_delivery_percentage

No     74.31
Yes    25.69
Name: Has Online delivery, dtype: float64

In [23]:
# Convert 'Aggregate rating' column to numeric (if not already)
df['Aggregate rating'] = pd.to_numeric(df['Aggregate rating'], errors='coerce')

In [24]:
# Group the data based on 'Has Table booking' and calculate the average ratings
average_ratings = df.groupby('Has Table booking')['Aggregate rating'].mean()

In [25]:
average_ratings

Has Table booking
No     2.557956
Yes    3.441969
Name: Aggregate rating, dtype: float64

In [26]:
# Calculate the total number of restaurants for each price range
total_restaurants_per_price_range = df['Price range'].value_counts()

In [27]:
# Calculate the number of restaurants offering online delivery for each price range
online_delivery_per_price_range = df[df['Has Online delivery'] == 'Yes']['Price range'].value_counts()

In [28]:
# Calculate the percentage of restaurants offering online delivery for each price range
online_delivery_percentage_per_price_range = (online_delivery_per_price_range / total_restaurants_per_price_range) * 100

In [29]:
online_delivery_percentage_per_price_range

1    15.795403
2    41.310633
3    29.252669
4     9.044369
Name: Price range, dtype: float64

## Task 2: Price Range Analysis

In [30]:
# Determine the most common price range among all the restaurants
most_common_price_range = df['Price range'].value_counts().idxmax()

In [31]:
most_common_price_range

1

In [32]:
# Convert 'Aggregate rating' column to numeric (if not already)
df['Aggregate rating'] = pd.to_numeric(df['Aggregate rating'], errors='coerce')

In [33]:
# Calculate the average rating for each price range
average_rating_per_price_range = df.groupby('Price range')['Aggregate rating'].mean().round(2)

In [34]:
average_rating_per_price_range

Price range
1    2.00
2    2.94
3    3.68
4    3.82
Name: Aggregate rating, dtype: float64

In [35]:
# Calculate the average rating for each price range
average_rating_per_price_range = df.groupby('Price range')['Aggregate rating'].mean()

In [36]:
# Find the price range with the highest average rating
highest_avg_rating_price_range = average_rating_per_price_range.idxmax()

In [37]:
# Assuming that the color is represented by the 'Rating color' column
color_for_highest_avg_rating = df[df['Price range'] == highest_avg_rating_price_range]['Rating color'].iloc[0]

In [38]:
color_for_highest_avg_rating

'Green'

## Task 3: Feature Engineering

In [39]:
# Extract additional features: length of restaurant name and address
df['Restaurant Name Length'] = df['Restaurant Name'].str.len()
df['Address Length'] = df['Address'].str.len()

In [44]:
df[['Restaurant Name', 'Restaurant Name Length']]

               Restaurant Name  Restaurant Name Length
0             Le Petit Souffle                      16
1             Izakaya Kikufuji                      16
2       Heat - Edsa Shangri-La                      22
3                         Ooma                       4
4                  Sambo Kojin                      11
...                        ...                     ...
9546               Naml۱ Gurme                      11
9547              Ceviz A��ac۱                      12
9548                     Huqqa                       5
9549               A���k Kahve                      11
9550  Walter's Coffee Roastery                      24

[9542 rows x 2 columns]

In [45]:
df[['Address', 'Address Length']]

                                                Address  Address Length
0     Third Floor, Century City Mall, Kalayaan Avenu...              71
1     Little Tokyo, 2277 Chino Roces Avenue, Legaspi...              67
2     Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...              56
3     Third Floor, Mega Fashion Hall, SM Megamall, O...              70
4     Third Floor, Mega Atrium, SM Megamall, Ortigas...              64
...                                                 ...             ...
9546  Kemanke�� Karamustafa Pa��a Mahallesi, R۱ht۱m ...             103
9547  Ko��uyolu Mahallesi, Muhittin ��st�_nda�� Cadd...              77
9548  Kuru�_e��me Mahallesi, Muallim Naci Caddesi, N...              73
9549  Kuru�_e��me Mahallesi, Muallim Naci Caddesi, N...              75
9550  Cafea��a Mahallesi, Bademalt۱ Sokak, No 21/B, ...              65

[9542 rows x 2 columns]

In [46]:
# Perform one-hot encoding for 'Has Table booking' and 'Has Online delivery' columns
df_encoded = pd.get_dummies(df, columns=['Has Table booking', 'Has Online delivery'])

In [50]:
df_encoded.head()

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Aggregate rating,Rating color,Rating text,Votes,Restaurant Name Length,Address Length,Has Table booking_No,Has Table booking_Yes,Has Online delivery_No,Has Online delivery_Yes
0,6317637,Le Petit Souffle,162,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027535,14.565443,"French, Japanese, Desserts",...,4.8,Dark Green,Excellent,314,16,71,0,1,1,0
1,6304287,Izakaya Kikufuji,162,Makati City,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...","Little Tokyo, Legaspi Village, Makati City","Little Tokyo, Legaspi Village, Makati City, Ma...",121.014101,14.553708,Japanese,...,4.5,Dark Green,Excellent,591,16,67,0,1,1,0
2,6300002,Heat - Edsa Shangri-La,162,Mandaluyong City,"Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...","Edsa Shangri-La, Ortigas, Mandaluyong City","Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...",121.056831,14.581404,"Seafood, Asian, Filipino, Indian",...,4.4,Green,Very Good,270,22,56,0,1,1,0
3,6318506,Ooma,162,Mandaluyong City,"Third Floor, Mega Fashion Hall, SM Megamall, O...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.056475,14.585318,"Japanese, Sushi",...,4.9,Dark Green,Excellent,365,4,70,1,0,1,0
4,6314302,Sambo Kojin,162,Mandaluyong City,"Third Floor, Mega Atrium, SM Megamall, Ortigas...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.057508,14.584450,"Japanese, Korean",...,4.8,Dark Green,Excellent,229,11,64,0,1,1,0